@{
    ViewData["Title"] = "About";
}
<h3>Made by <span style="font-style: italic"><a href="https://www.facebook.com/profile.php?id=100010568464761">
    Yehor Ovseukov</a></span><h3>
    <h4>Task from <span style="font-style: italic"><a href="http://www.ism-ukraine.com/">
        ISM Ukraine</a></span></h4>
